.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container-box {
  
    width: 1000px;
    height: auto;
    margin: auto;
    margin-top: 150px;
}

#mid-box {
  display: flex;
    width: 1400px;
    height: auto;
    margin: auto;
}

#bot-box {
  width: 730px;
}

#roll-box {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

#roll-box button {
  width: 200px;
  height: 50px;
  margin: 10px;
  background-color: rgb(245, 173, 40);
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 10px ;
  font-size: 1.1rem;
}

#tao-ung-vien {
  position: relative;
  width: 500px;
  height: auto;
  margin: auto;
  margin-top: 40px;
  border: 1px solid black;
  padding: 20px 0 20px 20px;
}

#tao-ung-vien h1{
  margin-left: 100px;
  margin-bottom: 50px;
}

#tao-ung-vien input, select {
  position: absolute;
  width: 200px;
  left: 200px;
}

#tao-ung-vien label {
  margin-bottom: 20px;
}

#tao-ung-vien button {
  width: 150px;
  height: 50px;
  margin-left: 140px;
  margin-top: 20px;
  background-color: orange;
  color: #fff;
  font-size: 1.1rem;
  border: 1px solid;
  border-radius: 10px;
  flex-direction: non;
}

#tt-ung-vien {
  position: relative;
  width: 500px;
  height: auto;
  margin: auto;
  margin-top: 40px;
  border: 1px solid black;
  padding: 20px 0 20px 20px;
}

#tt-ung-vien span{
  position: absolute;
  left: 220px;
}

#tt-ung-vien label {
  margin-bottom: 20px;
  font-weight: bold;
}

#tt-ung-vien h1 {
  margin-left: 50px;
  margin-bottom: 30px;
}

#container-best {
  display: flex;
}

#container-best div {
  position: relative;
  width: 500px;
  height: auto;
  margin: auto;
  margin-top: 40px;
  border: 1px solid black;
  padding: 20px 0 20px 20px;
}

#bestSS span {
  position: absolute;
  left: 220px;
}

#bestSM span {
  position: absolute;
  left: 220px;
}

#bestCS span {
  position: absolute;
  left: 220px;
}